body {
	margin: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: row;
	margin: 0px;
}

.outside-block {
	flex: 0;
	min-width: 250px;
	display: flex !important;
	justify-content: center;
	align-items: center;

	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	writing-mode: vertical-rl;
	background-color: steelblue;
}

iframe#pdf {
	width: 100%;
	height: 100%;
	border: none;
}

.pdf-block {
	flex: 1;
}
